@page
@model Eksamensprojekt_1_semester.Pages.Boats.GetAllBoatsModel
@{
}

<h1>Bådregister</h1>

<form method="post">
	<div class="input-group mb-3">
		<input asp-for="SearchType" class="form-control mr-1" 
			   placeholder="Søg type" />
		<input type="submit" asp-page-handler="TypeSearch" 
			   value="Søg" class="btn btn-primary" />
	</div>
</form>

<form method="post">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Min</span>
		</div>
		<input asp-for="MinPrice" class="form-control mr-1" />
		<div class="input-group-prepend">
            <span class="input-group-text">Max</span>
		</div>
		<input asp-for="MaxPrice" class="form-control mr-1" />
		<input type="submit" asp-page-handler="PriceFilter"
               value="Filtrer" class="btn btn-primary" />
	</div>
</form>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			@* <th>
				Id
			</th> *@
			<th>
				Type
			</th>
			<th>
				Størrelse
			</th>
			<th>
				Pris per dag
			</th>
			<th>
                Handlinger
            </th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Boats != null)
		{
			foreach (var boat in Model.Boats)
			{
				<tr>
					@* <td>
						@boat.Id
					</td> *@
					<td>
						@boat.Type
					</td>
					<td>
						@boat.Size
					</td>
					<td>
                        @boat.PricePerDay DKK
					</td>
					<td>
						<a class="btn btn-primary btn-sm" type="button" title="Rediger"
                           asp-page="EditBoat" asp-route-id="@boat.Id">Rediger</a>
						<a class="btn btn-danger btn-sm" type="button" title="Slet"
                           asp-page="DeleteBoat" asp-route-id="@boat.Id">Slet</a>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<p>
    <a asp-page="CreateBoat" class="btn btn-primary">Tilføj Ny Båd</a>
	<a asp-page="/BoatMaintenance/MaintenanceLog" class="btn btn-secondary">Vedligeholdelseslog</a>
</p>