@page
@model Eksamensprojekt_1_semester.Pages.Bookings.BookedBoatsModel
@{
	ViewData["title"] = "Bookede både";
}
<h1>@ViewData["title"]</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Navn
			</th>
			<th>
				Dato
			</th>
			<th>
				Båd type
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Booking != null)
		{
			foreach (var booking in Model.Booking)
			{
				<tr>
					<td>
						@booking.BookingId
					</td>
					<td>
						@booking.Name
					</td>
					<td>
						@booking.Date
					</td>
					<td>
						@booking.BookedBoat.Type
					</td>
					<td>
						
						<a class="btn btn-danger btn-sm" type="button" title="Slet din booking"
						   asp-page="DeleteBooking" asp-route-name="@booking.Name">Slet din booking</a>

					</td>
				</tr>
			}
		}
	</tbody>
</table>