@page
@model Eksamensprojekt_1_semester.Pages.Bookings.BookedBoatsModel
@{
	ViewData["title"] = "Bookede både";
}
<h1>@ViewData["title"]</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			
			<th>
				Navn
			</th>
			<th>
				Dato start
			</th>
			<th>
				Dato slut
			</th>
			<th>
				Destination
			</th>
			<th>
				Ankommet hjem?
			</th>
			<th>
				Båd type
			</th>
			<th>
				Total pris
			</th>
			<th>
				Slet booking
			</th>
			<th class="fst-italic">
				Handlinger
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Booking != null)
		{
			foreach (var booking in Model.Booking)
			{
				<tr>

					<td>
						@booking.Name
					</td>
					<td>
						@booking.DateStart
					</td>
					<td>
						@booking.DateEnd
					</td>
					<td>
						@booking.Destination
					</td>
					<td>
						@(booking.AnkommetHjem ? "Ja" : "Nej")
					</td>
					<td>
						@booking.BookedBoat.Type
					</td>
					<td>
						@booking.TotalPris
					</td>
					<td>
						
						<a class="btn btn-danger btn-sm" type="button" title="Slet din booking"
						   asp-page="DeleteBooking" asp-route-id="@booking.BookingId">Slet din booking</a>

					</td>
					<td>
						<form method="post">
							<input type="hidden" name="id" value="@booking.BookingId" />
							<button type="submit" asp-page-handler="Toggle" class="btn btn-primary btn-sm">
								@(booking.AnkommetHjem ? "Sæt til Ikke Ankommet" : "Marker som Ankommet")
							</button>
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>